/* Title centering e styiling */
h1{
    text-align: center;
    color: goldenrod;
    font-style: italic;
}

/* Image centering */
.helloworld{
    display: block;
    margin: auto;
    width: 300;
}